@charset 'UTF-8';

/*------------------------------------*\
  #MAIN
\*------------------------------------*/

@import "01_tools/tools.conversion";

@import "00_settings/all";
@import "01_tools/all";

//  Vendor libs
//      - styles from other sources (npm)
//[INSERT VENDOR LIBS]

@import "10_generic/generic.font-face";
@import "10_generic/generic.normalize";
@import "10_generic/generic.html";

@import "20_elements/all";

@import "30_objects/objects.grid";
@import "30_objects/objects.background-image";

/* components:scss */
@import "../../source/components/button/stylesheet/_components.button";
@import "../../source/components/footer/stylesheet/_components.footer";
@import "../../source/components/header/stylesheet/_components.header";
/* endinject */

@import "50_scopes/scopes.rich-text";

@import "70_utilities/all";

.client-name {
    grid-column: 1/2;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #939393;
}

.title {
    grid-column: 1/2;
    font-family: "Teko", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: #272727;
}

.unstyled-link {
    grid-column: 1/2;

    @media (min-width: 541px) {
        text-decoration: none;
        line-height: 30px;
        color: #1a18f7;
        size: 14px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;
    }
    .case-link {
        text-decoration: none;
        text-transform: uppercase;
        size: 14px;
        font-family: Helvetica, Arial, sans-serif;
        @media (max-width: 540px) {
            display: none;
        }
    }
}

.case-image {
    height: 500px;
    width: 100%;
}

.case-item-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    @media (max-width: 540px) {
        grid-template-columns: 1fr;
    }
    @media (min-width: 541px) and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}
.client-wrapper {
    background-color: #f3f6f6;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.client-header {
    grid-column: 4/10;
    margin-top: 50px;

    .title {
        height: 32px;
        font-family: Teko;
        font-size: 60px;
        text-align: center;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #0e0e0e;
        text-transform: uppercase;
    }
    .client-comment {
        font-family: Helvetica, Arial, sans-serif;
        text-align: center;
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.59;
        letter-spacing: normal;
        text-align: center;
        color: #0e0e0e;
        max-width: 500px;
        margin: 0 auto;
    }

    @media (max-width: 540px) {
        grid-column: 2/12;
    }
}

.logo-grid {
    display: grid;
    grid-column: 2/12;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 50px auto;
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200px;
    }
}

.logo-wrapper {
    display: flex;
    justify-content: space-around;
    height: 161px;

    .logo-image {
        width: 100%;
        height: auto;
        max-height: 100%;
    }
}
.contact-form-wrapper {
    height: 500px;
    position: relative;

    .contact-title {
        margin: auto 20px;
        height: 180px;
        font-family: Teko;
        font-size: 60px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #0e0e0e;
        text-transform: uppercase;

        @media (min-width: 541 px) {
            margin: auto 250px;
            max-width: 250px;
        }
        @media (min-width: 1000px) {
            height: 250px;
            margin: auto 200px;
            max-width: 250px;
        }
        @media (min-width: 1540px) {
            margin: auto 400px;
            max-width: 250px;
        }
    }
}

.form-wrapper {
    position: absolute;
    top: 150px;
    left: 100px;
    margin: 0 20px;

    @media (min-width: 541px) {
        top: 250;
        left: 150px;
    }
    @media (min-width: 1000px) {
        height: 250px;
        margin: auto 200px;
        max-width: 250px;
        top: 2px;
        left: 350px;
    }
    @media (min-width: 1540px) {
        max-width: 250px;
        top: 2px;
        left: 500px;
    }
}

.filter-bar {
    background-color: #fff;
}

.c-footer {
    position: relative;
    grid-column: 1 /-1;
    background-color: #0e0e0e;
    height: 340px;

    .logo-image {
        position: absolute;
        top: 100px;
        left: 100px;

        fill: #ffffff;
    }
}

.homepage-banner-container {
    position: relative;
    height: 320px;
    width: 100%;
    background: url("/assets/images//Vacanselect-2-1440x810-c.jpg") no-repeat
        center center fixed;
    background-size: cover;

    @media (min-width: 541px) {
        width: 100%;
        height: 940px;
    }
}

.top-bar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 999;
    padding: 20px 20px 10px 20px;
    border-bottom: 1px solid #f3f6f6;

    @media (min-width: 541px) {
        border: none;
        background: none;
        position: absolute;
        grid-column-start: 2;
        grid-column-end: 12;
        height: 80px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .logo-image {
        width: 55px;
        height: 15px;
        @media (min-width: 769px) {
            height: 28px;
        }
    }
}

.top-bar-wrapper-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 541px) {
        border-bottom: 1px solid #0e0e0e;
    }
}

.homepage-banner-image {
    @media only screen and (max-width: 540px) {
        grid-column: 1/-1;
        height: 320px;
        width: 100%;
    }
    @media only screen and (min-width: 541px) {
        grid-column: 1/-1;
        height: 940px;
        width: 100%;
    }
}

.logo-name-wrapper {
    grid-column: 2/12;
    position: absolute;
    border-bottom: 1px solid #0e0e0e;
    width: 100%;
}

.image-logo-name {
    @media only screen and (max-width: 540px) {
        height: 14px;
        width: 50px;
        padding: 15px 0 15px 0;
    }
    @media only screen and (min-width: 541px) {
        height: 28px;
        width: 100px;
        padding: 20px 0 20px 0;
    }
}

.work-text-wrapper {
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
    position: relative;
}

.work-title-text {
    font-size: 100px;
    color: pink;
    position: absolute;
    top: 75px;
    left: 50px;

    @media (min-width: 541px) and (max-width: 745px) {
        top: 300px;
        font-size: 150px;
        color: blue;
        top: 250px;
    }
    @media (min-width: 746px) {
        top: 300px;
        font-size: 200px;
        color: blue;
        top: 250px;
    }
}

.navbar-wrapper {
    grid-column: 10/12;
}

.button-wrapper {
    bottom: 100px;
    display: none;

    @media (min-width: 541px) {
        max-width: 1200px;
        margin: 0 auto;
    }

    .btn-case {
        position: absolute;
        right: 100px;
        bottom: 100px;
        width: 170px;
        height: 50px;
        display: inline-block;
        border: none;
        text-decoration: none;
        font-weight: bold;
        font-stretch: normal;
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #ffffff;
        line-height: 2;
        letter-spacing: normal;
        text-align: center;
        background-color: #0e0e0e;
        font-family: Helvetica, Arial, sans-serif;
    }
}

.quote-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 50px;
    .quote-title {
        grid-column: 1/-1;
        font-family: Teko;
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.28;
        letter-spacing: normal;
        color: #272727;
    }
    .quote-information {
        width: 359px;
        height: 30px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.31;
        letter-spacing: normal;
        color: #272727;
    }

    @media (min-width: 541px) {
        border-top: 1px solid #dddddd;
        max-width: 1200px;

        .quote-title {
            margin-top: 50px;
            grid-column: 4/11;
        }
        .quote-information {
            grid-column: 4/7;
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
}

.Overlay-open {
    display: block;
}

.modal {
    position: absolute;
    border: 1px solid rgb(204, 204, 204);
    background: #0e0e0e;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    z-index: 9999;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;

    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}
.close-button {
    color: white;
}

.menu {
    // background-color: #0e0e0e;
    position: relative;
    transition: transform(0.3s);
    transition-property: transform, background-color;
    right: 0;
    bottom: 0;
    left: 0;
    width: 2rem;
    height: 0.3rem;
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
        background-color;

    &::before,
    &::after {
        content: "";
        height: 0.3rem;
        width: 2rem;
        position: absolute;
        left: 50px;
        background-color: red;
    }

    &::before {
        top: 0.5rem;
    }
    &:after {
        bottom: 0.4rem;
    }
}

#nav-menu {
    width: 100%;
}
.menu-button {
    margin-right: 28px;
    &:hover {
        cursor: pointer;
    }
}
.modal_container {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-bar {
    width: 100%;
}
.menu-bar {
    list-style-type: none;
}
.menu-list {
    text-align: right;
    position: relative;
}
.menu-link {
    align-items: center;
    line-height: 0.8;
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    font-weight: 800;
    font-family: FF Good Headline Pro XCond, Arial Narrow, Impact, sans-serif;
    padding-top: 10px;
    padding-bottom: 0;
    text-transform: uppercase;
    line-height: 70px;

    &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        content: "";
        width: 100%;
        height: 0;
        border-bottom: 1px solid #272727;
    }

    &:before {
        content: "";
        width: 10px;
        height: 10px;
        background-image: url("/assets/images/arrow-white.svg");
        background-size: cover;
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    &:hover {
        color: yellow;
    }

    &:hover:before {
        display: inline-block;
    }
}

.menu-link-last {
    &:after {
        content: "";
        display: none;
        border-bottom: 1px solid #fff;
        width: 750px;
        box-sizing: border-box;
        position: absolute;
        right: 10px;
        opacity: 0.5;
    }
}

.ReactModal__Overlay--after-open {
    z-index: 9999;
}

.ReactModal__Overlay--after-open .logo {
    fill: #fff;
    width: 100px;
    height: 28px;
}

.three-cases-wrapper {
    display: grid;
    grid-gap: 30px;
}

.three-cases-wrapper {
    padding-top: 25px;
    border-top: solid 1px #dddddd;
    padding-bottom: 25px;
    border-bottom: solid 1px #dddddd;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* for position fixed top banner */
    margin-top: 60px;

    @media (min-width: 541px) {
        margin-top: 0;
    }
}

.content-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

@for $i from -1 through 13 {
    .column-start-#{$i} {
        grid-column-start: #{$i};
    }

    .column-end-#{$i} {
        grid-column-end: #{$i};
    }
}

@media (min-width: 769px) {
    @for $i from -1 through 13 {
        .column-desktop-start-#{$i} {
            grid-column-start: #{$i};
        }
        .column-desktop-end-#{$i} {
            grid-column-end: #{$i};
        }
    }
}

$i: 50;
@while $i >= 0 {
    .mt-#{$i} {
        margin-top: #{$i}px;
    }
    $i: $i - 10;
}
