<div js-hook-module-menu> 
<!-- <span class="menu-link" js-hook-module-open-menu>MENU</span> -->
 <span class="menu" js-open-menu-button>MENU</span>

<div js-menu-overlay class="Overlay">
    <div class="Modal">
        <button class="close-button"js-close-menu-button>Close</button>
<!-- <button js-hook-module-close-menu>Close</button> -->

<ul class="menu-bar">
        <li class="menu-list">
          <a  class="menu-link" href="https://www.deptagency.com/nl-nl/">Home</a>
        </li>
        <li class="menu-list">
          <a   class="menu-link" href="https://www.deptagency.com/nl-nl/cases/">Work</a>
        </li>
        <li class="menu-list">
          <a   class="menu-link" href="https://www.deptagency.com/about/">About</a>
        </li>
        <li class="menu-list">
          <a   class="menu-link" href="https://www.deptagency.com/services/">Services</a>
        </li>
        <li class="menu-list">
          <a  class="menu-link"  href="https://www.deptagency.com/partners/">Partners</a>
        </li>
        <li class="menu-list">
          <a   class="menu-link" href="https://www.deptagency.com/stories/">Stories</a>
        </li>
        <li class="menu-list">
          <a   class="menu-link" href="https://www.deptagency.com/careers/">Careers</a>
        </li>
        <li class="menu-list">
          <a   class="menu-link" href="https://www.deptagency.com/contact/">Contact</a>
        </li>
      </ul>
    </div>
</div>

</div> 