<div js-hook-module-menu>
    <!-- <span class="menu-link" js-hook-module-open-menu>MENU</span> -->
    <div class="menu-button">
        <span class="menu" type="button" js-open-menu-button>MENU</span>
    </div>

    <div js-menu-overlay class="overlay overlay_container">
        <div class="modal modal_container">
            <button class="close-button" js-close-menu-button>Close</button>
            <!-- <button js-hook-module-close-menu>Close</button> -->
            <div class="nav-bar">
                <ul class="menu-bar">
                    <li class="menu-list">
                        <a
                            class="menu-link"
                            href="https://www.deptagency.com/nl-nl/"
                            >Home</a
                        >
                    </li>
                    <li class="menu-list">
                        <a
                            class="menu-link"
                            href="https://www.deptagency.com/nl-nl/cases/"
                            >Work</a
                        >
                    </li>
                    <li class="menu-list">
                        <a
                            class="menu-link"
                            href="https://www.deptagency.com/about/"
                            >About</a
                        >
                    </li>
                    <li class="menu-list">
                        <a
                            class="menu-link"
                            href="https://www.deptagency.com/services/"
                            >Services</a
                        >
                    </li>
                    <li class="menu-list">
                        <a
                            class="menu-link"
                            href="https://www.deptagency.com/partners/"
                            >Partners</a
                        >
                    </li>
                    <li class="menu-list">
                        <a
                            class="menu-link"
                            href="https://www.deptagency.com/stories/"
                            >Stories</a
                        >
                    </li>
                    <li class="menu-list">
                        <a
                            class="menu-link"
                            href="https://www.deptagency.com/careers/"
                            >Careers</a
                        >
                    </li>
                    <li class="menu-list">
                        <a
                            class="menu-link menu-link-last"
                            href="https://www.deptagency.com/contact/"
                            >Contact</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
